.btn{
  color: white;
  font-weight: bold;
}

.topic-buttons{
  text-align: center;
}

a{
  color: #BEE5FF;
  font-family: 'Playfair Display', serif;
  font-size: 18px;
}
.s2a, .s2b, .s2c, .s2d{
  color: white;
  opacity: 0.95;
  margin: 1%;
}

.politics, #politics{
  background-color: #345C4F;
}

.business, #business{
  background-color: #c19a66;
}

.sports, #sports{
  background-color: #5E4859;
}

.arts, #arts{
  background-color: #854534;
}

.opinion, #opinion{
  background-color: #003753;
}

.world, #world{
  background-color: #4F783A;
}

.technology, #technology{
  background-color: #5E2045;
}






