body{ 
}

h1{
}

h2{
}

h3{
}

p{
}
#weather{
 background-image: url("../images/cloudy.jpg");
}
#news{
 background-image: url("../images/news.jpg");
}
#transit{
  background-image: url("../images/transit.png");
}
/*All Nav Bar CSS*/
/*Nav Bar Itself when it pops*/
#sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
/*Adding css to actual material in Nav Bar*/
#sidenav ul a label {
	padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s
}
/*Change color when hovered*/
#sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
/*CSS to close button*/
#sidenav #closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
/*More Animation*/
.main{
	transition: margin-left .5s;
  padding: 20px;
}
/*Accounting for Phone Screens*/
@media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 18px;}
}
/*Nav Bar CSS ends*/
/*Music CSS Begins*/
#musicbox{    
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }    
#musicbox #closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}
/*Music CSS Ends*/
/*Sticky Note CSS Begins*/
*{
  margin: 0;
  padding: 0;
}
#toDo{
  background-image: url("../images/notes.png");
  font-size: 100%;
}
#toDo ul, #toDo li{
  list-style: none;

}
#toDo ul li{
  text-decoration: none;
  color: #000;
  background: #ffc;
  display: block;
  height: 10em;
  width: 10em;
  padding: 1em;
  float: left;
  position: relative;
  margin: 1em;
    /* Shadow for Firefox */
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  /* Shadow for Safari and Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  /* Shadow for Opera */
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
}
#toDo ul{
  overflow: hidden;
  padding: 15px;
}
#toDo ul li textarea{
  background: rgba(0, 0, 0, 0);
  resize: none;
  padding: 3px;
  border-style: none;
}
#toDo ul li a{
  padding: 1px 3px;
  margin: 10px;
  position: absolute;
  top: 0;
  right: 0;
}
.noteTitle{
font-family: 'Gloria Hallelujah', cursive;
font-weight: bold;
font-size: 100%;
}
.noteContent{
font-family: 'Gloria Hallelujah', cursive;
}
/*End Sticky Note CSS*/

/*Begin News CSS*/