.s1heading{
	font-style: bold;
	font-size: 60px;
	line-height: 80px;
	text-align: center;

}

.s1{
	overflow: scroll;
	height: 65%;
	width: 65%;
	border: solid;
	border-color: black;
	background-color: white; 
	opacity: 0.7;
	color: black;
}

#time, #conditions, #temps{
	text-align: center;
}

#time{
	font-size: 40px;
}

#conditions{
	font-size: 28px;
}

#temps{
	font-size:48px;
}

th, td{
	white-space: nowrap;
    width: 1%;
}



